.tooltip{
  background-color: black;
  color: white;
  margin-top: 15px;
  padding: 4px 10px;


}
.arrow{
  position: absolute;
  top: 0; 
  left: 50%; 
  width: 7px;
  height: 7px;
  background: black;
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  overflow: hidden;
}
