.reserve{
  position: fixed;
  display: block;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  text-align: left;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve__container{
  min-width: 400px;
  width: auto;
  height: auto;
  max-width: 50vw;
  padding: 18px 30px 50px;
  background: var(--white);
}
.reverse__container ul{ 
  margin: 0 0 0 var(--bui_spacing_2x);
}
.reserve__close{
  text-align: right;
}
.reserve__close-btn{
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  transform: translate(-75%,85%);
  cursor: pointer;
}
.reserve__close-btn:before,
.reserve__close-btn:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--secondary-color);
  transform-origin: center;
}
.reserve__close-btn:before{
  transform: rotate(45deg);
}
.reserve__close-btn:after{
  transform: rotate(135deg);
}
.reverse__room-container{
  margin-bottom: var(--bui_spacing_4x);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: var(--bui_spacing_4x);
}
.reverse__room ul{ 
  display: flex;
  gap: var(--bui_spacing_2x);
}
.reverse__room ul li{
  display: flex;
  flex-direction: column;
  gap: var(--bui_spacing_1x);
}
.reverse__room ul li label{
  color: var(--text-primary-color);
}
.reverse__room-check:disabled{
  cursor: initial;
  background: gray;
  

}
.reverse__room button:disabled{
  background: red;
}
.btn:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  cursor: initial;
}
