.header{
  top: 0;
  width: 100%;
  height: auto;
  padding-top: var(--section-space-small);
  padding-bottom: var(--section-space-small);
  z-index: 10;
  line-height: 20px !important;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
}
.header__container{
  width: 100%;
  max-width: 1124px;
  color: white;
  position: relative;
  z-index: 3;
}
.header__container h1, p{ 
  text-align: left;
  line-height: 32px;
}
.h__list{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
}
.h__list a{
  margin-right: 30px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0px solid white;
  border-radius: 999px;
  cursor: pointer;
  color: white;
}
.h__list a.active{
  padding: 12px;
  background-color: #0071c2;
  border: 1px solid white;
}
.h__list a:hover{
  background: var(--secondary-color);
}