:root {
  --primary-color: #003570;
  --secondary-color: #0071c2;
  --white: white;
  --page-shell-max-content-width: 2520px;
  --explore_padding-inline: 80px;
  --section_space: 30px;
  --text-primary-color: #262626;
  --text-secondary-color: #fff;
  --text-grey-color: #c5c5c5;
  --search-color: #febb02;
  --link-color: #0071c2;
}
.btn{
  padding: 16px;
  position: relative;
  background: var(--secondary-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn:before{
  border: 1px solid transparent;
  border-radius: 3px;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.home{
  padding-top: var(--explore_padding-inline);
}
.h__container{
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}
.h__title{
  margin: 0 auto;
  width: 100%;
  max-width: 1124px;
  color: var(--text-primary-color);
}