.dropdown_box{
  position: relative;
  background: var(--white);
}
.dropdown_box__title h4{
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown_box ul{
  display: none;
  position: absolute;

  background: var(--white);
}
.dropdown_box ul.open{
  display: flex;
  flex-direction: column;
  place-content: center;
  
}
.dropdown_box li{
  display: block;
  padding: 6px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;

}