
.fl__container{
  margin: 0 auto;
  width: 100%;
  max-width: 1124px;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 20px;
}
.fl__container>div{
  flex: 1;
  overflow: hidden;
}
.fl__title{
  font-weight: bold;
  line-height: 7px;
  color: var(--text-primary-color);
}
.fl__subtitle{
  color: var(--text-grey-color);
}