.header{
  top: 0;
  width: 100%;
  height: auto;
  padding-top: var(--section-space-small);
  padding-bottom: var(--section-space-small);
  z-index: 10;
  line-height: 20px !important;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
}
.header__container{
  width: 100%;
  max-width: 1124px;
  color: white;
  position: relative;
  z-index: 3;
}
.header__container h1, p{ 
  text-align: left;
  line-height: 32px;
}
.h__list{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
}
.h__desc{
  padding: 48px 0 95px;
  text-align: left;
}
.h__search-box{
  margin: auto;  
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color: #febb02;
  color: rgb(189, 189, 189);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(50%);
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    padding: 4px;
    border-radius: 4px;
}
.hs__item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 10px;
  background-color: white;
  border-radius: 2px;
  position: relative;
}
.hs__input{
  width: 100%;
  height: 3rem;
  padding: 15px 38px 15px 44px; 
  position: relative;
  border: none;
  outline-color: rgb(51,51,51);
  outline-width: 0;
  z-index: 1;
}
.hs__ikon{
  position: absolute;
  top: 27%;
  left: 12px;
  color: rgb(189, 189, 189);
  font-size: 18px;
  z-index: 2;
}
.hs__date-text{
  padding-left: 44px;
  width: 100%;
}
.hs__date-range{
  position: absolute;
  top: 50px;
}
.hs__guests-occupancy{
  padding: 0 0 0 44px;
  width: 100%;
}
.hs__guests-stepper-container{
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 25px 25px 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.hs__stepper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hs__stepper-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hs_stepper_counter{
  padding: 8px 16px;
  position: relative;
  background: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor:pointer;
  line-height: 21px;
}
.hs_stepper_counter:disabled{
  cursor: not-allowed;
}
.hs_stepper_counter:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}