.hotel{
  width: 100%;
  //position: relative;
}
.hotel__container{
  margin: 0 auto;
  width: 100%;
  max-width: 1124px;
}
.hotel__title{
  text-align: left;
  margin-bottom: 0;
}
.hotel__address{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: var(--section-space-small);
}
/* img */
.hotel__img-wrapper{
  width: 100%;
}
    
.hotel__gallery{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px 160px;
  //grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  //grid-gap: 1rem;
  justify-items: stretch;
}
.hotel__gallery-item:first-child{
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.hotel__gallery-item {
  position: positive;
  border: 3px solid white;
  //padding: 1ch 1rem;
  position: relative;
  overflow: hidden;
}
.hotel__gallery img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hotel__gallery-info{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hotel__gallery-info div:not(:nth-child(2)){
  //padding: 10px;
  background-color: white;
  opacity: .85;
  max-width: 240px;
}
.hotel__gallery-user-desc-rate div{
  //background-color: #ebf3ff;
}
.hotel__img{
  max-height: 124px;
  flex: auto;
}
.hotel__photo-grid-thumbs{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 6px;
  //flex-wrap: wrap;
}
.hotel__photo-grid-thumbs img{
  flex: 1;
}
/* properties */
.hotel__property-highlights{
  padding-top: var(--section-space-small);
  padding-bottom: var(--section-space-medium);
  display: flex;
  flex-direction: row;
  justify-content: content-between;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 2px;
  width: 100%;
}
.hotel__property-highlights>div{
  padding: 8px;
  min-width: 23%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: auto;
  gap: 10px;
  border: 1px solid var(--text-grey-color);
}
.hotel__property-icon{
  size: 32;
}
.hotel__property-text{
  white-space: nowrap;
}

/* details */
.hotel__details{
  display: flex;
  text-align: left;
  gap: 10px;

}
.hotel__desc{
  flex: 3;
}
.hotel__price{
  padding: 0.83em;
  flex: 1;
  background: #ebf3ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hotel__btn{
  padding: 12px;
}
.btn-revers{
  color: var(--secondary-color);
  background: transparent;
  border-color: var(--secondary-color);
}