.navbar{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: #003570;
}
.navContainer{
  width: 100%;
  max-width: 1124px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nlogo{
  color: white;
}
.nBtn{
  margin-right: 10px;
  padding: 5px 10px;
  background: #003570;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
.nBtn:last-child{ margin-right: 0; }
.userNav{
  //margin-left: auto;
}